<% provide(:title, "CoffeeLover Coffee Bar" ) %>
    <div id="wrapper">
        <main>
            <h2>Relax at CoffeeLover</h2>
            <p>
                Friendly and eclectic - CoffeeLover Coffee Bar is
                the perfect place to take a break, enjoy a refreshing
                beverage, and have a snack or light meal.
            </p>
            <ul>
                <li>Specialty Coffee and Organic Tea</li>
                <li>Bagels, Muffins, and Gluten-free Pastries</li>
                <li>Organic Salads</li>
                <li>Music and Poetry Readings</li>
                <li>Open Mic Night</li>
            </ul>
            <div>
                12010 Island Sun Road<br>
                Sun Coast, TIP 24010<br>
                555-555-555
                <br>
                <br>
            </div>
        </main>
    </div>