<% provide(:title, "CoffeeLover Coffee Bar Menu") %>
<main>
    <h2>Coffee at CoffeeLover</h2>
    <dl>
        <dt><strong>Just Standard</strong></dt>
        <dd>
            Regular house blend, decaffeinated<br>
            coffee, or flavour of the day.<br>
            Endless Cup R3.50<br>
        </dd>
        <dt><strong>Cae au Lait</strong></dt>
        <dd>
            House blended coffee infused into a<br>
            smooth, steamed milk.<br>
            Single R4.00 Double R5.00<br>
        </dd>
        <dt><strong>Iced Cappuccino</strong></dt>
        <dd>
            Sweetened espresso blended with icy-<br>
            cold milk and served in a chilled glass.<br>
            Single R5.00 Double R6.50
        </dd>
    </dl>
</main>