<% provide(:title, "CoffeeLover Coffee Bar Music" ) %>
    <div id="wrapper">
        <main>
            <h2>Music at CoffeeLover</h2>
            <p>
                The first friday night each month at CoffeeLover is a 
                special night. Join us from 8 pm to 11 pm for some 
                music you won't want to miss!
            </p>

            <h4>January Music Performance</h4>
            <div class="details">
                <a href="/assets/melanie.jpg"><img src="/assets/melaniethumb.jpg" alt="thumbnail" width="80" height="80"></a> 
                Melanie Morris entertains with her melodic folk style.
            </div>

            <h4>February Music Performance</h4>
            <div class="details">
                <a href="/assets/greg.jpg"><img src="/assets/gregthumb.jpg" alt="thumbnail" width="80" height="80"></a> 
                Tahoe Greg is back from his tour. New songs. New stories.
            </div>

        </main>
    </div>

